body { background-color: #f0d78c;}
.error-template {padding: 40px 15px;text-align: center;}
.error-det  {padding-bottom: 20px;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.sucess-template {padding: 40px 15px;text-align: center;}
.sucess-det  {padding-bottom: 20px;}
.sucess-actions {margin-left: 15px;margin-top:40px;margin-bottom:15px;}
.sucess-actions .btn { margin-right:10px; }
